.wrapper{
    height: 100vh;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 40px;
        height: 100%;
    }
}

.logo-wrapper, .form-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, peachpuff, #e8c2a0, peachpuff);
    color: white;
    font-weight: 800;
    font-size: 100px;
    font-family: 'Lobster Two', sans-serif;
}

.logo-title{
    border-bottom: 3px solid white;
    padding: 10px;
}

.description{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

.input-username {
    font-size: 35px;
    margin-bottom: 15px;
}

.input-email {
    font-size: 25px;
    margin-bottom: 10px;
}

.input-password {
    font-size: 30px;
    margin-bottom: 15px;
}

.input-password-again {
    font-size: 25px;
    margin-bottom: 15px;
}

button {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: 700;
    font-size: 25px;
    width: 250px;
    padding: 5px 0px;
    margin-bottom: 15px;
}

.link {
    color: rgb(161, 161, 161);
    font-size: 25px;
}

input {
    font-weight: 300;
    color: rgb(161, 161, 161);
}

input::placeholder {
    color: rgb(161, 161, 161);
}

.errors-login {
    color: rgb(241, 191, 148);
    font-size: 20px;
    margin: 0px 100px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.errors-register {
    color: rgb(241, 191, 148);
    font-size: 20px;
    margin-bottom: 20px;
}