{% extends "game/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link type="text/css" href="{% static 'account/css/account-base.css' %}" rel="stylesheet">
    <title>ChessHub</title>
    {% endblock head %}
</head>

<body>
    {% block wrapper %}
    <div class="content">
        <div class="logo-wrapper">
            <div class="logo-title">ChessHub</div>
            <div class="description">Welcome to our chess portal, where everyone finds their path to greatness in the
                world of 64 squares! Our website is a
                virtual chess arena where enthusiasts and professionals gather to test their strategic skills, enjoy
                captivating games,
                and enhance their play.</div>
        </div>
        <div class="form-wrapper">
            {% block form %}
            {% endblock form %}
        </div>
    </div>
    {% endblock wrapper %}
</body>

</html>