{% extends "account/account-base.html" %}

{% block form %}
<div class="form-wrapper">
    <form id="myForm" autocomplete="off" method="post">
        {% csrf_token %}
        {{ form.username }}
        <div class="errors-register">{{ form.username.errors }}</div>
        {{ form.email }}
        <div class="errors-register">{{ form.email.errors }}</div>
        {{ form.password1 }}
        <div class="errors-register">{{ form.password1.errors }}</div>
        {{ form.password2 }}
        <div class="errors-register">{{ form.password2.errors }}</div>
        <button class="input-button" type="submit">Register</button>
    </form>
    <a class="link" href="{% url 'login' %}">Already have an account? Log In</a>
</div>
{% endblock form %}