{% extends "game/game-base.html" %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'game/css/game-base.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'game/css/game.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
<title>ChessHub</title>
{% endblock head %}

{% block content %}
<div class="game-over-wrapper" id="gameOverWrapper">
    <div class="game-over-wrapper-title" id="gameOverTitleWrapper">Game Over</div>
    <div class="game-over-wrapper-messages">
        <div class="white-message" id="whiteMessage"></div>
        <div class="black-message" id="blackMessage"></div>
    </div>
    <button class="game-over-wrapper-button rematch-button" id="rematchButton">Rematch!</button>
    <button class="game-over-wrapper-button" id="homeButton">Home</button>
</div>
<div class="loading-container" id="loadingContainer">
    <div class="loading-spinner"></div>
</div>
<div class="content" id="content">
    <div class="chess-wrapper">
        <div class="board-top">
            <div class="username-top" id="username-top">user</div>
            <div class="timer-top" id="timerTop">time</div>
        </div>
        <div class="chess-board-wrapper">
            <div id="myBoard" class="chess-board"></div>
        </div>
        <div class="board-bottom">
            <div class="username-top" id="username-bottom">{{ user.username}}</div>
            <div class="timer-bottom" id="timerBottom">time</div>
        </div>
    </div>
    <div class="display-wrapper">
        <div class="game-steps-wrapper">
            <div class="game-steps-wrapper__title title">Moves</div>
            <div class="game-steps" id="gameSteps"></div>
        </div>
        <div class="evaluation">
            <div class="evaluation_title">Evaluation: </div>
            <div class="evaluation_value" id="evaluationValue">0.00</div>
        </div>
        <div class="display-buttons">
            <button class="display-button" id="drawButton">Draw</button>
            <button class="display-button" id="resignButton">Resign</button>
        </div>
        <div class="chat">
            <div class="messages" id="messages">
            </div>
            <div class="chat-form">
                <input class="chat-input" id="chatInput" type="text">
                <button class="chat-button" id="chatButton">Send!</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'game/js/chess.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'game/js/chessboard-1.0.0.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/stockfish@16.0.0/src/stockfish-nnue-16.min.js"></script>
<script>

    var resignButton = document.getElementById('resignButton');
    resignButton.addEventListener('click', function () {
        var data = {
            type: 'resign',
        };
        socket.send(JSON.stringify(data));
    });

    var drawButton = document.getElementById('drawButton');
    drawButton.addEventListener('click', function () {
        var data = {
            type: 'draw',
        };
        socket.send(JSON.stringify(data));
    });

    var b1 = document.getElementById('homeButton');
    b1.addEventListener('click', function () {
        window.location.href = "{% url 'game-home' %}"
    });

    var b2 = document.getElementById('rematchButton');
    b2.addEventListener('click', function () {
        var data = {
            type: 'rematch',
        };
        socket.send(JSON.stringify(data));
    });

    var chatButton = document.getElementById('chatButton');
    chatButton.addEventListener('click', function () {
        message = document.getElementById('chatInput').value;
        document.getElementById('chatInput').value = '';
        var data = {
            type: 'message',
            'message': message,
        };
        socket.send(JSON.stringify(data));
    });

    const socket = new WebSocket(`ws://${window.location.host}/ws/game/{{ game_id }}/`);

    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
        var data = {
            type: 'game-data',
        };
        socket.send(JSON.stringify(data));
    };
    socket.onmessage = (event) => {
        console.log(event.data);
        var data = JSON.parse(event.data);
        if (data.type === 'game-data') {
            var endTimeWhite = new Date(data.game_data.white_user_end_time);
            var endTimeBlack = new Date(data.game_data.black_user_end_time);
            var lastMoveTime = new Date(data.game_data.last_move_time);
            var userIsWhite = '{{ user.username }}' == data.game_data.white_user ? true : false;
            var isWhiteMove = data.game_data.is_white_move;

            var whiteUser = data.game_data.white_user;
            var blackUser = data.game_data.black_user;

            game = new Chess();
            game.load_pgn(data.game_data.game_pgn);
            board = createChessboard(game.fen());

            initGame(userIsWhite, whiteUser, blackUser);
            initTimer(endTimeWhite, endTimeBlack, lastMoveTime, userIsWhite, isWhiteMove);
            updateMoveList();
            getEvaluation();
            if (data.game_data.is_finished) {
                initEndGameTimer(data.game_data.white_user_remaining_time, data.game_data.black_user_remaining_time, userIsWhite);
                gameOver(data.game_data.white_rematch, data.game_data.black_rematch);
            }
            document.getElementById('loadingContainer').style.display = 'none';
        }
        else if (data.type === 'message') {
            var message = data.message;
            var user = data.user;

            newMessage(message, user);
        }
        else if (data.type === 'game-message') {
            var message = data.message;
            newGameMessage(message);
        }
        else if (data.type === 'rematch') {
            if (data.game_id) {
                window.location.replace(`/game/${data.game_id}/`);
            }
            gameOver(data.white_rematch, data.black_rematch);
        }
        else if (data.type === 'game-move') {
            var endTimeWhite = new Date(data.white_user_end_time);
            var endTimeBlack = new Date(data.black_user_end_time);
            var lastMoveTime = new Date(data.last_move_time);
            var isWhiteMove = data.is_white_move;
            initTimer(endTimeWhite, endTimeBlack, lastMoveTime, isWhiteUser, isWhiteMove);
            if (data.user !== '{{ user.username }}') {
                var move = game.move(data.move);
                board.position(game.fen());
                var $board = $('#myBoard');
                $board.find('.square-55d63').removeClass('highlight-move1');
                $board.find('.square-55d63').removeClass('highlight-move2');
                $board.find('.square-55d63').removeClass('highlight-check');
                var $element = $board.find('.square-' + move.from);
                if ($element.hasClass('black-3c85d')) {
                    $element.addClass('highlight-move2');
                } else {
                    $element.addClass('highlight-move1');
                }
                var $element = $board.find('.square-' + move.to);
                if ($element.hasClass('black-3c85d')) {
                    $element.addClass('highlight-move2');
                } else {
                    $element.addClass('highlight-move1');
                }
                if (game.in_check()) {
                    var sideInCheck = game.turn();
                    if (sideInCheck === 'w') {
                        var el = $('img[data-piece="wK"]').first();
                        el.closest('div').addClass('highlight-check');
                    } else if (sideInCheck === 'b') {
                        var el = $('img[data-piece="bK"]').first();
                        el.closest('div').addClass('highlight-check');
                    }
                }
                removeGreySquares();
                board.position(game.fen());
                updateMoveList();
                getEvaluation();
            }
            if (game.in_checkmate()) {
                clearInterval(timerInterval);
                gameOver();
            }
        }
    };
    socket.onclose = function (event) {
        console.log('WebSocket connection closed:', event);
        location.reload();
    };
    function initGame(userIsWhite, whiteUser, blackUser) {
        if (userIsWhite) {
            document.getElementById('username-top').innerText = blackUser;
            document.getElementById('username-bottom').innerText = whiteUser;
            isWhiteUser = true;
        }
        else {
            document.getElementById('username-top').innerText = whiteUser;
            document.getElementById('username-bottom').innerText = blackUser;
            isWhiteUser = false;
            flipBoard();
        }
    }
    function gameOver(whiteRematch, blackRematch) {
        clearInterval(timerInterval);
        var winner = game.turn() === 'w' ? 'Black' : 'White';
        document.getElementById('gameOverWrapper').style.display = 'grid';
        document.getElementById('gameOverTitleWrapper').innerText = "Game Over! " + winner + " wins!";
        if (blackRematch) {
            document.getElementById('blackMessage').innerText = "Black want rematch!";
        }
        if (whiteRematch) {
            document.getElementById('whiteMessage').innerText = "White want rematch!";
        }
    }
    function initEndGameTimer(whiteRemainingTime, blackRemainingTime, isWhiteUser) {
        clearInterval(timerInterval);

        var remainingTimeBlack = blackRemainingTime * 1000;
        var secondsBlack = Math.floor(remainingTimeBlack / 1000);
        var millisecondsBlack = Math.floor(remainingTimeBlack % 1000);
        var minutesBlack = Math.floor(secondsBlack / 60);
        var hoursBlack = Math.floor(minutesBlack / 60);

        var formattedHoursBlack = ("0" + hoursBlack).slice(-2);
        var formattedMinutesBlack = ("0" + (minutesBlack % 60)).slice(-2);
        var formattedSecondsBlack = ("0" + (secondsBlack % 60)).slice(-2);
        var formattedMillisecondsBlack = ("000" + millisecondsBlack).slice(-3, -2);

        var formattedTimeBlack = formattedHoursBlack + ":" + formattedMinutesBlack + ":" + formattedSecondsBlack + "." + formattedMillisecondsBlack;

        var remainingTimeWhite = whiteRemainingTime * 1000;
        var secondsWhite = Math.floor(remainingTimeWhite / 1000);
        var millisecondsWhite = Math.floor(remainingTimeWhite % 1000);
        var minutesWhite = Math.floor(secondsWhite / 60);
        var hoursWhite = Math.floor(minutesWhite / 60);

        var formattedHoursWhite = ("0" + hoursWhite).slice(-2);
        var formattedMinutesWhite = ("0" + (minutesWhite % 60)).slice(-2);
        var formattedSecondsWhite = ("0" + (secondsWhite % 60)).slice(-2);
        var formattedMillisecondsWhite = ("000" + millisecondsWhite).slice(-3, -2);

        var formattedTimeWhite = formattedHoursWhite + ":" + formattedMinutesWhite + ":" + formattedSecondsWhite + "." + formattedMillisecondsWhite;

        if (whiteRemainingTime < 0) {
            formattedTimeWhite = "Время вышло";
        }
        else if (blackRemainingTime < 0) {
            formattedTimeBlack = "Время вышло";
        }

        if (isWhiteUser) {
            document.getElementById('timerTop').textContent = formattedTimeBlack;
            document.getElementById('timerBottom').textContent = formattedTimeWhite;
        }
        else {
            document.getElementById('timerTop').textContent = formattedTimeWhite;
            document.getElementById('timerBottom').textContent = formattedTimeBlack;
        }
    }
    function initTimer(endTimeWhite, endTimeBlack, lastMoveTime, isWhiteUser, isWhiteMove) {
        clearInterval(timerInterval);
        function updateTimerBlack() {
            var remainingTimeBlack;
            if (isWhiteMove) {
                var timeDifference = Date.now() - lastMoveTime;
                endTimeBlack = new Date(endTimeBlack.getTime() + timeDifference);
                remainingTimeBlack = endTimeBlack - Date.now();
            }
            else {
                remainingTimeBlack = endTimeBlack - Date.now();
            }
            var secondsBlack = Math.floor(remainingTimeBlack / 1000);
            var millisecondsBlack = Math.floor(remainingTimeBlack % 1000);
            var minutesBlack = Math.floor(secondsBlack / 60);
            var hoursBlack = Math.floor(minutesBlack / 60);

            var formattedHoursBlack = ("0" + hoursBlack).slice(-2);
            var formattedMinutesBlack = ("0" + (minutesBlack % 60)).slice(-2);
            var formattedSecondsBlack = ("0" + (secondsBlack % 60)).slice(-2);
            var formattedMillisecondsBlack = ("000" + millisecondsBlack).slice(-3, -2);

            var formattedTimeBlack = formattedHoursBlack + ":" + formattedMinutesBlack + ":" + formattedSecondsBlack + "." + formattedMillisecondsBlack;

            if (isWhiteUser) {
                document.getElementById('timerTop').textContent = formattedTimeBlack;
                if (remainingTimeBlack <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('timerTop').textContent = "Время истекло";
                    var data = {
                        type: 'time-over',
                    };
                    socket.send(JSON.stringify(data));
                    gameOver();
                }
            }
            else {
                document.getElementById('timerBottom').textContent = formattedTimeBlack;
                if (remainingTimeBlack <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('timerBottom').textContent = "Время истекло";
                    var data = {
                        type: 'time-over',
                    };
                    socket.send(JSON.stringify(data));
                    gameOver();
                }
            }
        }
        function updateTimerWhite() {
            var remainingTimeWhite;
            if (isWhiteMove) {
                remainingTimeWhite = endTimeWhite - Date.now();
            }
            else {
                var timeDifference = Date.now() - lastMoveTime;
                endTimeWhite = new Date(endTimeWhite.getTime() + timeDifference);
                remainingTimeWhite = endTimeWhite - Date.now();
            }
            var secondsWhite = Math.floor(remainingTimeWhite / 1000);
            var millisecondsWhite = Math.floor(remainingTimeWhite % 1000);
            var minutesWhite = Math.floor(secondsWhite / 60);
            var hoursWhite = Math.floor(minutesWhite / 60);

            var formattedHoursWhite = ("0" + hoursWhite).slice(-2);
            var formattedMinutesWhite = ("0" + (minutesWhite % 60)).slice(-2);
            var formattedSecondsWhite = ("0" + (secondsWhite % 60)).slice(-2);
            var formattedMillisecondsWhite = ("000" + millisecondsWhite).slice(-3, -2);

            var formattedTimeWhite = formattedHoursWhite + ":" + formattedMinutesWhite + ":" + formattedSecondsWhite + "." + formattedMillisecondsWhite;

            if (isWhiteUser) {
                document.getElementById('timerBottom').textContent = formattedTimeWhite;
                if (remainingTimeWhite <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('timerBottom').textContent = "Время истекло";
                    var data = {
                        type: 'time-over',
                    };
                    socket.send(JSON.stringify(data));
                    gameOver();
                }
            }
            else {
                document.getElementById('timerTop').textContent = formattedTimeWhite;
                if (remainingTimeWhite <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('timerTop').textContent = "Время истекло";
                    var data = {
                        type: 'time-over',
                    };
                    socket.send(JSON.stringify(data));
                    gameOver();
                }
            }
        }
        if (isWhiteMove) {
            timerInterval = setInterval(updateTimerWhite, 2);
            updateTimerBlack();
        }
        else {
            timerInterval = setInterval(updateTimerBlack, 2);
            updateTimerWhite();
        }
    }
    function newGameMessage(message) {
        var messageElement = document.createElement('div');
        messageElement.classList.add('message');
        messageElement.classList.add('game-message');

        var messageText = document.createElement('div');
        messageText.innerText = message;
        messageText.classList.add('message-text');

        messageElement.appendChild(messageText);

        document.getElementById('messages').appendChild(messageElement);

        document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
    }


    function newMessage(message, user) {
        var messageElement = document.createElement('div');
        messageElement.classList.add('message');

        var messageUser = document.createElement('div');
        messageUser.innerText = '[' + user + ']';
        messageUser.classList.add('message-user');

        var messageText = document.createElement('div');
        messageText.innerText = message;
        messageText.classList.add('message-text');

        messageElement.appendChild(messageUser);
        messageElement.appendChild(messageText);

        document.getElementById('messages').appendChild(messageElement);

        document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
    }

    function flipBoard() {
        board.orientation('black');
    }

    var timerInterval;
    var isWhiteUser = true;
    var board = null;
    var game = null;
    var whiteSquareGrey = '#a9a9a9';
    var blackSquareGrey = '#696969';
    var currentSquare = null;

    function removeGreySquares() {
        $('#myBoard .square-55d63').css('background', '')
    }

    function greySquare(square) {
        var $square = $('#myBoard .square-' + square)

        var background = whiteSquareGrey
        if ($square.hasClass('black-3c85d')) {
            background = blackSquareGrey
        }

        $square.css('background', background)
    }

    document.getElementById('content').addEventListener('click', function (event) {
        if (event.target.classList.contains('square-55d63')) {
            var square = $(event.target).data('square');
        }
        else if (event.target.classList.contains('piece-417db')) {
            var square = $(event.target).parent().data('square');
        }
        else {
            console.log("Кликнули не на доску.");
            return;
        }
        if (currentSquare != square) {
            var move = game.move({
                from: currentSquare,
                to: square,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
            })
            if (move === null) return 'snapback'
            board.position(game.fen());
            var $board = $('#myBoard');
            $board.find('.square-55d63').removeClass('highlight-move1');
            $board.find('.square-55d63').removeClass('highlight-move2');
            $board.find('.square-55d63').removeClass('highlight-check');
            var $element = $board.find('.square-' + move.from);
            if ($element.hasClass('black-3c85d')) {
                $element.addClass('highlight-move2');
            } else {
                $element.addClass('highlight-move1');
            }
            var $element = $board.find('.square-' + move.to);
            if ($element.hasClass('black-3c85d')) {
                $element.addClass('highlight-move2');
            } else {
                $element.addClass('highlight-move1');
            }
            if (game.in_check()) {
                var sideInCheck = game.turn();
                if (sideInCheck === 'w') {
                    var el = $('img[data-piece="wK"]').first();
                    console.log(el);
                    el.closest('div').addClass('highlight-check');
                } else if (sideInCheck === 'b') {
                    var el = $('img[data-piece="bK"]').first();
                    console.log(el);
                    el.closest('div').addClass('highlight-check');
                }
            }
            removeGreySquares();
            currentSquare = null;
            clearInterval(timerInterval);
            const history = game.history();
            var move = history[history.length - 1];
            var gamePGN = game.pgn(true);
            var moves = gamePGN.split(' ');
            updateMoveList();
            var data = {
                type: 'move',
                move: move,
                gamePGN: gamePGN
            };
            socket.send(JSON.stringify(data));
            setTimeout(function () {
                // Check if the game is over (checkmate)
                if (game.in_checkmate()) {
                    gameOver();
                }
                getEvaluation();
            }, 150);
        }
    });

    function onDragStart(source, piece) {
        removeGreySquares()
        if (game.game_over()) return false

        if (isWhiteUser && game.turn() === 'b') {
            return false;
        }
        else if (isWhiteUser === false && game.turn() === 'w') {
            return false;
        }

        // or if it's not that side's turn
        if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
            (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
            return false
        }
        currentSquare = source;
        var moves = game.moves({
            square: source,
            verbose: true
        })
        if (moves.length === 0) return
        greySquare(source)
        for (var i = 0; i < moves.length; i++) {
            greySquare(moves[i].to)
        }
        return false;
    }

    var config = {
        draggable: true,
        position: 'start',
        pieceTheme: "{% static '/game/img/chesspieces/wikipedia/' %}" + '{piece}.png',
        sparePieces: false,
        showNotation: true,
        onDragStart: onDragStart,
    };

    var board = Chessboard('myBoard', config);

    var boardElement = document.getElementById('myBoard');

    boardElement.addEventListener('touchstart', function (e) {
        e.preventDefault();
        var touch = e.touches[0];
        onDragStart(board, touch);
        isDragging = true;
    }, false);

    boardElement.addEventListener('touchmove', function (e) {
        e.preventDefault();
        if (isDragging) {
            var touch = e.touches[0];
            onDrop(board, touch);
        }
    }, false);

    boardElement.addEventListener('touchend', function (e) {
        e.preventDefault();
        isDragging = false;
    }, false);

    var currentFEN = '';

    var createChessboard = function (fen) {
        return Chessboard('myBoard', {
            ...config,
            position: fen || 'start' // Используем переданный FEN или 'start', если FEN не предоставлен
        });
    };

    window.addEventListener('resize', function () {
        currentFEN = board.fen();
        // Удаляем или скрываем предыдущую доску
        board.destroy();
        // Создаем новую доску с теми же конфигурационными значениями
        board = createChessboard(currentFEN);

        if (isWhiteUser == false) {
            flipBoard();
        }
    });

    var stockfish = new Worker("{% static 'game/js/stockfish.js' %}");



    function updateMoveList() {
        var pgnString = "";

        // Получаем массив ходов
        var moves_verbose = game.history({ verbose: true });

        // Добавляем каждый ход в строку
        for (var i = 0; i < moves_verbose.length; i++) {
            if (i % 2 === 0) {
                // Добавляем номер хода, если это первый ход пары
                pgnString += ((i / 2) + 1) + ". ";
            }

            // Добавляем алгебраическую нотацию хода
            pgnString += moves_verbose[i].san + " ";

            // Добавляем перевод строки после второго хода пары
            if (i % 2 === 1) {
                pgnString += "\n";
            }
        }
        document.getElementById('gameSteps').innerText = pgnString;
        document.getElementById('gameSteps').scrollTop = document.getElementById('gameSteps').scrollHeight;
        if (game.in_checkmate()) {
            gameOver();
        }
    }

    function getEvaluation() {
        // Получаем оценку позиции от Stockfish
        stockfish.postMessage('position fen ' + game.fen());
        stockfish.postMessage('eval');

        // Обрабатываем ответ от Stockfish
        stockfish.onmessage = function (event) {
            var match = event.data.match(/Total Evaluation: ([0-9.-]+)/);

            if (match && match[1]) {
                var evaluation = parseFloat(match[1]);
                document.getElementById('evaluationValue').innerText = evaluation;
            }
        };
    }

</script>
{% endblock content %}