{% extends "game/game-base.html" %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'game/css/game-base.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'game/css/game-list.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
<title>ChessHub</title>
{% endblock head %}

{% block content %}
<div class="loading-container" id="loadingContainer">
    <div class="loading-spinner"></div>
</div>
<div class="content" id="content">
    <div class="chess-board-wrapper">
        <div class="chess-board" id="chessBoard"></div>
    </div>
    <div class="display-wrapper">
        <div class="rooms-wrapper">
            <div class="rooms-wrapper__title title">Games</div>
            <div class="rooms" id="rooms"></div>
        </div>
        <div class="current-room-wrapper" id="currentRoomWrapper">
            <div class="current-room-wrapper__title title">My Game</div>
        </div>
        <div class="new-room-wrapper" id="newRoomWrapper">
            <div class="new-room-title title">New Game</div>
            <div class="game-time">
                <div class="game-time__text">Minutes per side: </div>
                <div id="gameTimeValue" class="value">1</div>
            </div>
            <input class="new-room-wrapper__range" type="range" id="game-time-slider" min="1" max="180" step="1"
                value="0">
            <div class="step-time">
                <div class="step-time__text">Increment in seconds: </div>
                <div id="stepTimeValue" class="value">0</div>
            </div>
            <input class="new-room-wrapper__range" type="range" id="step-time-slider" min="0" max="180" step="1"
                value="0">
            <div class="user-limits">
                <label class="user-limit" id="public-label">
                    <input class="radio-button" id="radio1" type="radio" name="public" checked>
                    <label for="radio1">Public</label>
                </label>
                <label class="user-limit">
                    <input class="radio-button" id="radio2" type="radio" name="public">
                    <label for="radio2">Private</label>
                </label>
            </div>
            <button class="new-room-button" id="new-room-button" onclick="createNewGame()">Create</button>
        </div>
    </div>
</div>
<script src="{% static 'game/js/chess.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'game/js/chessboard-1.0.0.min.js' %}"></script>
<script>
    const socket = new WebSocket(`ws://${window.location.host}/ws/home/`);

    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
        var data = {
            type: 'game-list',
        };
        socket.send(JSON.stringify(data));
    };

    socket.onmessage = (event) => {
        console.log(event.data);
        var data = JSON.parse(event.data);
        if (data.type === 'error') {
        }
        else if (data.type === 'start-game') {
            document.getElementById(data.game_id).remove();
            if ('{{ user.username }}' === data.black_user || '{{ user.username }}' === data.white_user) {
                newRoom(data.game_id, true, true);
                window.location.replace(`/game/${data.game_id}/`);
            }
        }
        else if (data.type === 'remove-game') {
            document.getElementById(data.game_id).remove();
            if (data.white_user == '{{ user.username }}') {
                document.getElementById('currentRoomWrapper').style.display = 'none';
                document.getElementById('newRoomWrapper').style.display = 'grid';
            }
        }
        else if (data.type === 'new-game') {
            if (data.link) {
                window.location.replace(`/game-connect/${data.link}/`);

            }
            else if (data.white_user == '{{ user.username }}') {
                document.getElementById('currentRoomWrapper').style.display = 'grid';
                document.getElementById('newRoomWrapper').style.display = 'none';
            }

            newRoom(data.game_id, false, data.white_user === '{{ user.username }}' ? true : false);
        }
        else if (data.type === 'game-list') {
            var current_games = data.current_games;
            var open_games = data.open_games;

            if (current_games.length) {
                document.getElementById('currentRoomWrapper').style.display = 'grid';

                for (let i = 0; i < current_games.length; i++) {
                    newRoom(current_games[i].game_id, current_games[i].is_started, current_games[i].white_user === '{{ user.username }}' ? true : false);
                }
            }
            else {
                document.getElementById('newRoomWrapper').style.display = 'grid';
            }
            for (let i = 0; i < open_games.length; i++) {
                newRoom(open_games[i].game_id, open_games[i].isStarted, open_games[i].white_user === '{{ user.username }}' ? true : false);
            }
            document.getElementById('loadingContainer').style.display = 'none';
        }
    }
    socket.onclose = function (event) {
        console.log('WebSocket connection closed:', event);
        location.reload();
    };

    function newRoom(roomId, isStarted, isOwner,) {
        var roomElement = document.createElement('div');
        roomElement.classList.add('room');
        roomElement.id = roomId;

        var roomTitleElement = document.createElement('div');
        roomTitleElement.classList.add('room-title');
        roomTitleElement.textContent = roomId;

        var roomButtonElement = document.createElement('button');
        roomButtonElement.classList.add('room-button');
        roomButtonElement.textContent = 'Join';

        roomElement.appendChild(roomTitleElement);
        roomElement.appendChild(roomButtonElement);
        if (isStarted) {

            roomButtonElement.addEventListener('click', connect);
            roomElement.classList.add('room_current');
            document.getElementById('currentRoomWrapper').appendChild(roomElement);
            roomButtonElement.textContent = "Сonnect";
            roomButtonElement.classList.add('joined');
        }
        else if (isOwner) {
            roomButtonElement.addEventListener('click', function () {
                leaveRoom(roomId);
            });
            document.getElementById('currentRoomWrapper').appendChild(roomElement);
            roomButtonElement.textContent = "Leave";
        }
        else {
            var roomsWrapper = document.getElementById('rooms');
            roomsWrapper.appendChild(roomElement);
            roomButtonElement.addEventListener('click', function () {
                joinRoom(roomId);
            });
        }
    }
    function connect(event) {
        var room_id = event.target.parentNode.id;
        window.location.replace(`/game/${room_id}/`);
    }
    function joinRoom(game_id) {
        var data = {
            type: 'join-game',
            game_id: game_id,
        };
        socket.send(JSON.stringify(data));
    }

    function leaveRoom(game_id) {
        var data = {
            type: 'leave-game',
            game_id: game_id,
        };
        socket.send(JSON.stringify(data));
    }

    function createNewGame() {
        const game_time = document.getElementById('game-time-slider').value;
        const step_time = document.getElementById('step-time-slider').value;
        const publicRadioButton = document.getElementById('public-label').querySelector('input:checked');
        const is_public = publicRadioButton ? 1 : 0;
        var data = {
            type: 'new-game',
            game_time: game_time,
            step_time: step_time,
            is_public: is_public,
        };
        socket.send(JSON.stringify(data));
    }

    var gameTimeSlider = document.getElementById('game-time-slider');
    var stepTimeSlider = document.getElementById('step-time-slider');
    gameTimeSlider.addEventListener('input', (event) => {
        const selectedValue = event.target.value;
        document.getElementById('gameTimeValue').textContent = selectedValue;
    });
    stepTimeSlider.addEventListener('input', (event) => {
        const selectedValue = event.target.value;
        document.getElementById('stepTimeValue').textContent = selectedValue;
    });

    var board = null
    var game = new Chess()
    var whiteSquareGrey = '#a9a9a9'
    var blackSquareGrey = '#696969'
    var flipped = false;
    var currentSquare = null;

    function removeGreySquares() {
        $('#chessBoard .square-55d63').css('background', '')
    }

    function greySquare(square) {
        var $square = $('#chessBoard .square-' + square)

        var background = whiteSquareGrey
        if ($square.hasClass('black-3c85d')) {
            background = blackSquareGrey
        }

        $square.css('background', background)
    }

    function flipBoard() {
        flipped = !flipped;
        board.orientation(flipped ? 'black' : 'white');
    }

    function onDragStart(source, piece) {
        removeGreySquares()
        if (game.game_over()) return false
        if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
            (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
            return false
        }
        currentSquare = source;
        var moves = game.moves({
            square: source,
            verbose: true
        })
        if (moves.length === 0) return
        greySquare(source)
        for (var i = 0; i < moves.length; i++) {
            greySquare(moves[i].to)
        }
        console.log(source);
        return false;
    }

    document.getElementById('content').addEventListener('click', function (event) {
        if (event.target.classList.contains('square-55d63')) {
            var square = $(event.target).data('square');
        }
        else if (event.target.classList.contains('piece-417db')) {
            var square = $(event.target).parent().data('square');
        }
        else {
            console.log("Кликнули не на доску.");
            return;
        }
        if (currentSquare != square) {
            var move = game.move({
                from: currentSquare,
                to: square,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
            })
            if (move === null) return 'snapback'
            board.position(game.fen());
            var $board = $('#chessBoard');
            $board.find('.square-55d63').removeClass('highlight-move1');
            $board.find('.square-55d63').removeClass('highlight-move2');
            $board.find('.square-55d63').removeClass('highlight-check');
            var $element = $board.find('.square-' + move.from);
            if ($element.hasClass('black-3c85d')) {
                $element.addClass('highlight-move2');
            } else {
                $element.addClass('highlight-move1');
            }
            var $element = $board.find('.square-' + move.to);
            if ($element.hasClass('black-3c85d')) {
                $element.addClass('highlight-move2');
            } else {
                $element.addClass('highlight-move1');
            }
            removeGreySquares();
            if (game.in_check()) {
                var sideInCheck = game.turn();
                if (sideInCheck === 'w') {
                    var el = $('img[data-piece="wK"]').first();
                    console.log(el);
                    el.closest('div').addClass('highlight-check');
                } else if (sideInCheck === 'b') {
                    var el = $('img[data-piece="bK"]').first();
                    console.log(el);
                    el.closest('div').addClass('highlight-check');
                }
            }

            setTimeout(function () {
                // Check if the game is over (checkmate)
                if (game.in_checkmate()) {
                    var winner = game.turn() === 'w' ? 'Black' : 'White';
                    alert("Checkmate!" + winner + " wins!");
                    game.reset();
                    board.position('start');
                    board.orientation('white');
                    flipped = false;
                    removeGreySquares();
                    var $board = $('#chessBoard');
                    $board.find('.square-55d63').removeClass('highlight-move1');
                    $board.find('.square-55d63').removeClass('highlight-move2');
                    $board.find('.square-55d63').removeClass('highlight-check');
                } else {
                    // Toggle board orientation after each move
                    flipBoard();
                    board.position(game.fen());
                    var $board = $('#chessBoard');
                    $board.find('.square-55d63').removeClass('highlight-move1');
                    $board.find('.square-55d63').removeClass('highlight-move2');
                    $board.find('.square-55d63').removeClass('highlight-check');
                    var $element = $board.find('.square-' + move.from);
                    if ($element.hasClass('black-3c85d')) {
                        $element.addClass('highlight-move2');
                    } else {
                        $element.addClass('highlight-move1');
                    }
                    var $element = $board.find('.square-' + move.to);
                    if ($element.hasClass('black-3c85d')) {
                        $element.addClass('highlight-move2');
                    } else {
                        $element.addClass('highlight-move1');
                    }
                    removeGreySquares();
                    if (game.in_check()) {
                        var sideInCheck = game.turn();
                        if (sideInCheck === 'w') {
                            var el = $('img[data-piece="wK"]').first();
                            console.log(el);
                            el.closest('div').addClass('highlight-check');
                        } else if (sideInCheck === 'b') {
                            var el = $('img[data-piece="bK"]').first();
                            console.log(el);
                            el.closest('div').addClass('highlight-check');
                        }
                    }
                    currentSquare = null;
                }
            }, 250);
        }
    });

    var config = {
        draggable: true,
        position: 'start',
        pieceTheme: "{% static '/game/img/chesspieces/wikipedia/' %}" + '{piece}.png',
        sparePieces: false,
        showNotation: false,
        onDragStart: onDragStart,
    };

    var board = Chessboard('chessBoard', config);

    var currentFEN = '';

    var createChessboard = function (fen) {
        return Chessboard('chessBoard', {
            ...config,
            position: fen || 'start' // Используем переданный FEN или 'start', если FEN не предоставлен
        });
    };


    window.addEventListener('resize', function () {
        currentFEN = board.fen();
        // Удаляем или скрываем предыдущую доску
        board.destroy();
        // Создаем новую доску с теми же конфигурационными значениями
        board = createChessboard(currentFEN);
    });
</script>
{% endblock content %}